@font-face {
  font-family: sans-regular;
  src: url(../../fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf);
}
@font-face {
  font-family: sans-semibold;
  src: url(../../fonts/Source_Sans_Pro/SourceSansPro-SemiBold.ttf);
}
@font-face {
  font-family: sans-bold;
  src: url(../../fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf);
}

@font-face {
  font-family: roboto-regular;
  src: url(../../fonts/Roboto/Roboto-Thin.ttf);
}
@font-face {
  font-family: roboto-semibold;
  src: url(../../fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
  font-family: roboto-bold;
  src: url(../../fonts/Roboto/Roboto-Bold.ttf);
}
