// Colors Dark Theme
// $dark-background: #262626;
// $dark-text: #f8f8f8;

// Colors of piece
$white-piece: #f8f8f8;
$black-piece: #181818;

// Colors of board
$dark-board: #b55629;
$bright-board: #eed9a0;

//Main Colors
// $clr1: #2965f1;
// $clr2: #f4f7fe;

//fonts
$font-r: sans-regular;
$font-sb: sans-semibold;
$font-b: sans-bold;

// Breakpoints
$mobile-breakpoint: 500px;
$narrow-breakpoint: 760px;
$normal-breakpoint: 960px;
$wide-breakpoint: 1200px;
